body {
  
  background: cornflowerblue;
  
}

h1 {
  
  text-align: center;
  
  color: darkslateblue;
  
}

p{
  
  text-align: center;
  
  color: antiquewhite;
  
}

h2{
  
  text-align: center;
  
  color: darkslateblue;
  
}

h4{

  color: burlywood;

}