body {
  
  background: cornflowerblue;
  
}

h1 {
  
  color: darkslateblue;
  
  text-align: center;
  
  font-weight: bold;

}

p{
  
  text-align: center;
  
  color: antiquewhite;
  
}

h2{
  
  text-align: center;
  
  color: darkslateblue;
  
}

h4{
  
  color: burlywood;
  
}